/cmake-build-debug/
/debug.txt
/third_party/SDL_image/cmake-build-debug/
/CMakeFiles/
/.idea/
/third_party/SDL_image/cmake-build-debug/
/third_party/glew-2.1.0/
/third_party/SDL_image/cmake-build-debug/
/third_party/SDL_image/cmake-build-debug/
